/* Shared style */
* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.logo {
    width: 25px;
    height: 24px;
    /* padding-right: 20px; */
}

.pink-button {
    /* display: inline-flex; */
    padding: 21px 40px;
    /* align-items: flex-start; */
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-style: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.blue-button {
    /* display: inline-flex; */
    padding: 21px 40px;
    /* align-items: flex-start; */
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border-style: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}



/* Nav style */
header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.top-title {
    display: flex;
    padding: 40px 200px;
}

.left-title {
    display: flex;
    align-items: center;
    text-align: center;
    /* padding-left: 240px; */
}

.left-title>img {
    padding-right: 20px;
}

.right-link>a {
    text-decoration: none;
    padding-left: 10px;
}

.right-link {
    font-family: Work Sans;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.right-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    /* padding-right: 240px; */


}

.right-title>a {
    /* padding-right: 20px; */
}

.right-title>h3 {
    /* padding-right: 20px; */
}

.right-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    /* margin-right: 25px; */
}

.right-images>a {
    padding-left: 10px;

}

/* Banner style */
.banner {
    display: flex;
    width: 100%;
    height: 700px;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 200px;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;

}

.banner-head {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 150px;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 20px;
}

.banner-text {
    text-align: left;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    margin-top: 20px;
    justify-content: center;

}

.banner-text img {
    padding-top: 10px;
    width: 24px;
    height: 24px;
}

.buttons {
    padding-top: 50px;
    text-align: start;
    gap: 20px;
}

.we-are-gamer {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.wag-text {
    text-align: right;
    margin-left: 50px;
    width: 800px;
    font-size: 48px;
}

.wag-text>p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
}

.videos {
    align-items: center;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}

.video-thumbnails {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.video-thumbnails>div>img:hover {
    border: 5px solid deeppink;
    border-radius: 18px;
}

/* Hover styles:failed */
/* .play-hover{
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none;  */
/* width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.video-thumbnails:hover .play-hover{
    display: block;
} */
.play-games {

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 150px;
}

.pg-head {
    width: 341px;
    text-align: right;
    font-size: 30px;
    font-weight: 700;
}

.pg-des {
    width: 341px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.pg-img1 {
    position: relative;
    left: 320px;
}

.pg-img2 {
    position: relative;
    top: 80px;
    right: 490px;
}

.career {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    width: 100%;
    max-height: 821px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.career-head {
    /* width: 426px; */
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.career-text {
    width: 480px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}

.career-data {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 39px;
}

.career-section {
    width: 500px;
    padding-left: 150px;
}

.game-menu {
    margin: 150px auto;
}

.game-menu1 {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
}

.game-menu2 {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.genre {
    display: flex;
    text-align: center;
    align-items: center;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    gap: 10px;
}

.game-menu1>div:hover {
    color: #FF42A5;
    border: 3px solid deeppink;
    border-radius: 50px;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
}

.game-menu2>div:hover {
    color: #FF42A5;
    border: 3px solid deeppink;
    border-radius: 50px;
    padding: 10px 20px 10px 10px;
    cursor: pointer;
}

/* Footer */
.footer-section {
    width: 100%;
    max-height: 830px;
    background: #0B0223;
}

.footer-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding-top: 120px;
}

.footer-links {
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

.footer-links>a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    margin-right: 60px;
}

.footer-logo {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-logo>img {
    margin-right: 100px;

}

.privacy-policy-section {
    display: flex;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    right: 20px;
    gap: 80px;
}

.privacy-policy-section a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
    padding-bottom: 60px;
}



@media screen and (max-width:576px) {
    .top-title {
        grid-template-columns: max-content(1, 1fr);
    }

}